<h2>Designed and built with all I could do so far. Maintained by myself.</h2>
<h4>Code licensed google, docs CC BY 3.0.</h4>
<h6>(C) & (P) Coding International Ltd 2017
    All rights reserved. Unauthorized reproduction is a violation of applicable laws.
    In order to avoid copyright infringement, please, do not copy this site.</h6>
