<form name="form" class="form-horizontal">
    <div class="form-group">
        <label for="titleInput" class="col-sm-2 control-label col-md-offset-3" style="font-size: medium">Title</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="titleInput" ng-model="newEvent.title" required>
        </div>
    </div>
    <div class="form-group">
        <label for="contentInput" class="col-sm-2 control-label col-md-offset-3" style="font-size: medium">Content</label>
        <div class="col-sm-4">
            <textarea id="contentInput" ng-model="newEvent.content" rows="10" cols="85" style="resize: none;color: #0f0f0f" required></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="dateInput" class="col-sm-2 control-label col-md-offset-3"
               style="font-size: medium">Date</label>
        <div class="col-sm-4">
            <p class="input-group">
                <input type="text" class="form-control" id="dateInput"
                       uib-datepicker-popup="dd.MM.yyyy" ng-model="newEvent.date" is-open="datepicker.opened"
                       datepicker-options="dateOptions" ng-required="true"
                       close-text="Close" required>
                <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="datepickerOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="dateInput" class="col-sm-2 control-label col-md-offset-3"
               style="font-size: medium">Date</label>
        <div class="col-sm-4">
            <p class="input-group">
                <input type="text" class="form-control" id="dateInput"
                       uib-datepicker-popup="dd.MM.yyyy" ng-model="newEvent.date" is-open="datepicker.opened"
                       datepicker-options="dateOptions" ng-required="true"
                       close-text="Close"/>
                <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="datepickerOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>
    </div>
    <div class="form-group col-sm-7">
        <button ng-disabled="form.$invalid" class="btn btn-success btn-lg pull-right" ng-click="saveEvent(newEvent)">Save</button>
    </div>
</form>