<h1>{{event.title}}</h1>
<h3>{{event.content}}</h3>
<h5>{{event.date | date:'dd.MM.yyyy'}}</h5>
<input type="button" class="btn btn-danger" value="Remove" ng-click="removeEvent(event.id)"/>
<input type="button" class="btn btn-info" value="Edit" ng-click="editEvent(event)"/>


