<div class="row" ng-keydown="anotherEvent($event)" tabindex="0">
    <div class="col-xs-12">
        <header id="top" class="header">
            <div ng-if="eventTemplate" ng-include="'event.template.html'"
                 class="text-vertical-center"></div>
            <div ng-if="addEventTemplate" ng-include="'add.event.template.html'"
                 class="text-vertical-center"></div>
            <div ng-if="aboutTemplate" ng-include="'about.template.html'"
                 class="text-vertical-center"></div>
        </header>
    </div>
</div>